/* lpa.css
 * ================
 * extending sakura.css for LinuxPhoneApps.org.
 */

/* Smaller headlines */
h1 {
  font-size: 2.00em
}

h2 {
  font-size: 1.75em
}

h3,
.lpa__sidebar details summary {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.25em
}

h5 {
  font-size: 1.1em
}

h6 {
  font-size: 1em
}

/* details */

details>summary {
  cursor: pointer;
}

details>summary {
  list-style: none;
}

details>summary::marker,
/* Latest Chrome, Edge, Firefox */
details>summary::-webkit-details-marker

/* Safari */
  {
  display: none;
}


details summary::after {
  content: " [+]";
  padding-left: 2px;
  font-weight: normal;
}

details[open] summary::after {
  content: " [–]";
  padding-left: 2px;
  font-weight: normal;
}



/* header customization */
.navbar-brand {
  font-size: 2.5em;
  font-weight: 700 !important;
}

/* common stuff for lists in header and footer */
/*.navbar-nav, */
footer * ul {
  list-style: none;
}

.navbar-form {
  float: right;
  padding-right: 1.5em;
}

/*.navbar-nav li,*/
footer * li {
  display: inline-block;
}


/* Wrapper */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

@media screen and (max-width: 800px) {

  .container,
  .navbar-form {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 0.7em;
    padding-left: 0.7em;
  }
}

/* Clearfix */
.container:after,
header:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* Site header */
.navbar {
  /*border-top: 5px solid #424242;*/
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.navbar-brand {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.navbar a:hover {
  border-bottom: none !important;
}

.navbar-brand,
.navbar-brand:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 54px;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: #111111;
  line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 13px;
    text-align: center;
  }

  .site-nav .menu-icon>svg {
    fill: #424242;
  }

  .site-nav input~.trigger {
    clear: both;
    display: none;
  }

  .site-nav input:checked~.trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/* body */
body.apps-classic div div.content,
body.games div div.content {
  max-width: 100% !important;
}

.contains-it-all {
  margin: 0 auto;
  max-width: 1400px;
}

.text-center {
  text-align: center;
}

a.button {
  margin-bottom: 2.5rem;
}

a.button:visited,
a.button:active,
a.button:link {
  color: #f9f9f9 !important;
  border-bottom: 0px;
}

a.button:hover {
  border-bottom: 0px;
}

/* search results */
#suggestions div {
  padding: 2em 0;
}

#suggestions div a span:first-child {
  font-weight: bold;
  padding-right: 0.5em;
}

/* taxonomies */
.taxonomies h1 {
  text-transform: capitalize;
}

.taxonomy-link {
  padding: 0.5em;
  border: 1px solid #e8e8e8;
  margin: 0.5em;
  white-space: nowrap;
  display: inline-block;
}

a.taxonomy-link span {
  font-size: 0.8em;
  color: #4a4a4a;
}

/* app list */

.app-status-archived {
  font-size: 0.95em;
}

.app-status-archived strong a:link,
.app-status-archived strong a:visited,
.app-status-archived,
.app-status-inactive strong a:link,
.app-status-inactive strong a:visited,
.app-status-inactive,
.app-status-unmaintained strong a:link,
.app-status-unmaintained strong a:visited,
.app-status-unmaintained {
  color: gray !important;
}

.app-status-archived p .taxonomy-tag,
.app-status-unmaintained p .taxonomy-tag,
.app-status-inactive p .taxonomy-tag {
  color: #ffffff !important;
}

.app-taxonomy {
  clear: right;
  text-align: right;
}

.taxonomy-tag {
  font-size: 0.8em;
  padding: 0 0.3em;
  white-space: pre-wrap;
  background: #a0a0a0;
  color: #ffffff !important;
  border-radius: 1em;
  white-space: nowrap;
  clear: right;
}

.taxonomy-service {
  background: #2c779a;
}

.taxonomy-category {
  background: #5376a8;
}

.taxonomy-framework {
  background: #7e72ab;
}

.taxonomy-mobile-compat {
  background: #a46ca1;
}

.taxonomy-status {
  float: left;
  font-size: 0.8em;
  border: 0;
}

/* page edit */
.edit-page {
  font-size: 0.8em;
  margin: 1em 0;
}

.edit-page svg {
  padding: 0 0.4em 0 0;
}

/* single app listings */

.app-listing p a::after {
  content: ', ';
}

.app-listing p a:last-child::after {
  content: '';
}

.app-description-notice p:nth-of-type(1) a:last-child {
  font-size: 0.8em;
}

/* single apps listing: screenshots */
.app-screenshots {
  text-align: center !important;
}

.app-screenshots li {
  list-style-type: none;
  display: inline;
}

.app-screenshots-1,
.app-screenshots-2,
.app-screenshots-4 {
  width: 49%;
  clip-path: inset(4% 0 5% 0);
  margin: 0 auto;
}

.app-screenshots-3,
.app-screenshots-5,
.app-screenshots-6,
.app-screenshots-7,
.app-screenshots-8,
.app-screenshots-9,
.app-screenshots-10 {
  width: 32%;
  clip-path: inset(4% 0 5% 0);
  margin: 0 auto;
}

/* spacing */

div.card-list {
  padding: 30px 0;
}


/* footer */

footer {
  margin-top: 20px;
  display: block;
}

footer * ul {
  text-align: center;
  font-size: 0.7em;
}

footer * ul.footer-nav li:not(:first-child)::before {
  content: "| ";
}

/* start page */

p.meta {
  font-size: 0.8em;
}

/* footnotes */
.footnote-definition {
  padding-bottom: 1em 0;
}

.footnote-definition sup.footnote-definition-label {
  font-size: 0.6em;
  position: unset;
  top: unset
}

.footnote-definition p {
  display: inline !important;
  font-size: 0.8em;
  line-height: 1.05 !important
}

/* media query based dark mode */
@media (prefers-color-scheme: dark) {

  .navbar-brand,
  .navbar-brand:visited,
  .site-nav .page-link,
  .taxonomy-tag {
    color: #c9c9c9 !important;
  }

  @media screen and (max-width: 600px) {
    .site-nav {
      background-color: #000000 !important;
    }

    .site-nav .menu-icon>svg {
      fill: #c9c9c9 !important;
    }
  }
}

/* Apps sidebar */

.lpa__sidebar {
  width: 240px;
  padding: 20px 10px 0 20px;
  display: inline-block;
  vertical-align: top
}

.lpa__sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lpa__sidebar ul li {
  font-size: 1.0em;
  margin-bottom: 0.75em;
  font-weight: bold;
}

.lpa_side_container {
  display: flex;
}

.categories_filter {
  border-bottom: 3px solid #5376a8;
}

.frameworks_filter {
  border-bottom: 3px solid #7e72ab;
}

.mobile_compat_filter {
  border-bottom: 3px solid #a46ca1;
}

.services_filter {
  border-bottom: 3px solid #2c779a;
}

.lpa_side_item ul li time {
  font-weight: normal !important;
  font-size: 0.8em;
}

/* making the sidebar possible, overriding Sakura */
body {
  max-width: 100% !important;
}
/*
.container {
  flex: 1;
}*/

.navbar,
.footer,
.content {
  max-width: 800px !important;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .lpa__sidebar {
    height: 90vh;
    position: sticky;
    top: 40px;
    overflow-y: auto;
  }

  body.app-list div .content,
  body.docs-single div .content {
    width: calc(100% - (385px));
    max-width: 750px !important;
    display: inline-block;
  }

  body.app-list div.wrap, body.docs-single div.wrap {
    margin: 0 auto;
  }

  .lpa_side_container {
    flex-direction: column;
  }

  .lpa_side_item ul li {
    font-size: 0.9em;
  }
}


@media only screen and (max-width: 800px) {
  .lpa__sidebar {
    width: calc(100% - (30px));
    padding: 60px 15px 15px 15px;
    text-align: center;
  }

  .lpa_filter ul li,
  .lpa_filter ul {
    display: inline;
  }

  .lpa_additions {
    width: calc(50% - (20px));
    text-align: left;
    padding-left: 20px;
  }

  .lpa_additions ul {
    list-style-type: disc;
  }

  .lpa_additions li {
    white-space: wrap;
    font-weight: normal;
  }

  /*
  .app-list div .lpa__sidebar li {
    white-space: nowrap;
  }*/

  .lpa_side_item ul li:not(:last-child)::after {
    content: ",";
    font-weight: normal;
  }

  .lpa_side_container {
    flex-direction: row;
  }

  body.app-list div .content article h1 {
    position: absolute;
    text-align: center;
    top: 90px;
    left: 45%;
  }

}

/* Old JS heavy lists */

#pivot-table {
  text-align: left !important;
}
