{% extends "base.html" %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "taxonomy list" %}
  {% endif %}
{% endblock body %}

{% block content %}
{% if not title %}
            {% set title = "All " ~ taxonomy.name | replace(from="_",to=" ") | title %}
{% endif %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article class="taxonomies">
          <h1 class="text-center">{{ title }}</h1>
          <div class="card-list taxonomy-cards">
            {% for term in terms %}
                <a class="taxonomy-link text-body" href="{{ term.permalink | safe }}">{{ term.name }}  <span class="count">({{ term.pages | length }})</span></a>
            {% endfor %}
			    </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


