{% extends "page.html" %}
{% import 'macros/taxonomy.html' as macros_taxonomy -%}


{% block content %}
{% set title = taxonomy.name ~ ": " ~ term.name | replace(from="_",to=" ") | title %}
<div class="wrap container" role="document">
  <div class="content">
        <article class="taxonomies">
          <h1 class="text-center">{{ title }}</h1>
          {% if backend_page and backend_page.content %}<div class="text-center">{{ backend_page.content | safe }}</div>{% endif %}
			    <div class="card-list">
            {{ macros_taxonomy::taxonomy_single() }}
			    </div>
          {{ macros_taxonomy::taxonomy_backlink() }}
        </article>
  </div>
</div>
{% endblock content %}


