{% extends "page.html" %}

{% block body %}
  {% set page_class = "apps-single" %}
{% endblock body %}
{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "apps" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}
{% block content %}
<div class="wrap container" role="document">
  <main class="content">
    <div class="row flex-xl-nowrap">
	  {#{{ macros_sidebar::docs_sidebar(current_section=current_section) }}#}
	  <p><a href="..">&#8592; Back to all Apps</a></p>
	  {{ macros_toc::docs_toc(page=page) }}
      <main class="apps-content col-lg-11 col-xl-11 app-listing">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}{% if page.extra.summary_source_url %} <small><a href="{{ page.extra.summary_source_url }}">Source</a></small>{% endif %}</p>
        {#% for asset in page.assets -%}
          {%- if asset is matching("[.](jpg|png)$") -%}
            {% set image = resize_image(path=asset, width=180, height=335) %}
            <img src="{{ image.url }}" />
          {%- endif %}
        {%- endfor %#}
        <div class="app-description-notice">
        {% if page.content %}
        {{ page.content | safe }}
        {% endif %}
        </div>
        <strong>Project links:</strong>
        <ul>
          <li>
            <a href="{{ page.extra.repository }}">Repository</a>
          </li>
          {% if page.extra.homepage %}
          <li>
            <a href="{{ page.extra.homepage }}">Homepage</a>
          </li>
          {% endif %}
          {% if page.extra.bugtracker %}
          <li>
            <a href="{{ page.extra.bugtracker }}">Bugtracker</a>
          </li>
          {% endif %}
          {% if page.extra.translate %}
          <li>
            <a href="{{ page.extra.translate }}">Help with Translations</a>
            </li>
          {% endif %}
          {% if page.extra.donation %}
          <li>
            <a href="{{ page.extra.donation }}">Donate</a>
          </li>
          {% endif %}
        </ul>
         {% if page.extra.more_information %}
         <strong>Links with more information:</strong>
            <ul>
            {% for item in page.extra.more_information %}
                <li>
                    <a href="{{ item | safe }}">
                        {{ item | safe }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if page.extra.screenshots %}
         <strong>Links to (pages with) screenshots:</strong>
            <ul>
            {% for screenshots in page.extra.screenshots %}
                <li>
                    <a href="{{ screenshots | safe }}">
                        {{ screenshots | safe }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if page.extra.screenshots_img %}
         <strong>Screenshots</strong>
            <ul class="app-screenshots">
            {% for screenshot in page.extra.screenshots_img %}
                <li>
                    <a href="{{ screenshot | safe }}">
                        <img class="app-screenshots-{{ page.extra.screenshots_img | length }}" src="{{ screenshot | safe }}" alt="Screenshot of {{ page.title }}">
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <h4>Rating</h4>
        {% if page.taxonomies.mobile_compatibility %}
          <details>
            <summary><strong>Mobile Compatibility:</strong>
            {% for compatibility in page.taxonomies.mobile_compatibility %}
              <a href="{{ get_taxonomy_url(kind="mobile_compatibility", name=compatibility) }}">{{ compatibility }}</a>
            </summary>
            {% if compatibility == "5"%}
            <p>Perfect - this app fits your phone screen just fine out of the box and works nicely with touch input!</p>
            {% elif compatibility == "4"%}
            <p>Almost perfect, works fine with tweaks for scaling, like <code>scale-to-fit {% if page.extra.scale_to_fit %}{{ page.extra.scale_to_fit }} on{% endif %}</code> on Phosh</p>
            {% elif compatibility == "3"%}
            <p>Some parts of the app are not usable with touch input on small screens, even with <code>scale-to-fit {% if page.extra.scale_to_fit %}{{ page.extra.scale_to_fit }} on{% endif %}</code></p>
            {% elif compatibility == "2"%}
            <p>Many parts of the app are not usable with touch input on small screens, even with <code>scale-to-fit {% if page.extra.scale_to_fit %}{{ page.extra.scale_to_fit }} on{% endif %}</code></p>
            {% elif compatibility == "1" %}
            <p>App is unusable with touch input on small screens – why is this app listed?</p>
            {% else %}
            <p>This app has not yet been evaluated - <a href="">please help!</a></p>
            {% endif %}
          {% endfor %}
          </details>
        {% endif %}
        {% if page.taxonomies.status %}{% for project_state in page.taxonomies.status %}
            <details>
                <summary class="{{ project_state }}"><strong>Project status:</strong>
              <a href="{{ get_taxonomy_url(kind="status", name=project_state) }}">{{ project_state }}</a>
            </summary>
            {% if project_state == "mature" %}
            <p>This project has been in development for a long time and is usually well beyond its 1.0 release. It should work fine.</p>
            {% elif project_state == "maturing" %}
            <p>This project has been in development for some time and is somewhere around a 1.0 release. It should work mostly fine.</p>
            {% elif project_state == "early" %}
            <p>This project has been in development for a short time only. It should work mostly fine, but expect bugs and an incomplete featureset.</p>
            {% elif project_state == "WIP" %}
            <p>This project is in a very early state of development. It may work fine for you, but there may also be dragons.</p>
            {% elif project_state == "inactive" %}
            <p>This project has not seen any inactivity in more than a year. It may work fine for you, there may be dragons, and most importantly, don't expect updates or a response to your bug reports!</p>
            {% elif project_state == "unmaintained" %}
            <p>This project has been officially abandonned by its maintainers. It might still work for you, but you won't get any help if something is wrong.</p>
            {% elif project_state == "archived" %}
            <p>This project has been archived by its maintainers. It might still work for you, but you won't get any help if something is wrong.</p>
            {% else %}
            <p>Whoops, we don't know how to explain this status yet. Something went wrong!</p>
            {% endif %}
            {% endfor %}
          </details>
        {% endif %}
                <h4>Packaging</h4>

        {% if page.extra.flathub %}
        <p>Get it on <strong>
            <a href="{{ page.extra.flathub }}">Flathub</a>!
        </strong></p>
        {% endif %}
        {% if page.extra.flatpak_link %}
        <p><strong>
            <a href="{{ page.extra.flatpak_link }}">{{ page.extra.flatpak_link }}</a>
        </strong></p>
        {% endif %}
        {% if page.extra.repology %}
	<details><summary><strong>Is this app packaged for my distribution?</strong></summary>
		<p><em>green:</em> current and packaged,<br>
		<em>red:</em> packaged, but not current, ratings and other details may not apply.</p>
	<p>
        {% for repologyname in page.extra.repology %}
        <a href="https://repology.org/project/{{ repologyname }}/versions">
          <img src="https://repology.org/badge/vertical-allrepos/{{ repologyname }}.svg" alt="Packaging status">
        </a>
        {% endfor %}
	</p>
	<p>Powered by <a href="https://repology.org">Repology</a></p>
	</details><br>
	{% endif %}
        {% if page.extra.app_id %}
        <p>If you're lucky, you can install this app by just hitting this button:</p>
        <a href="appstream://{{ page.extra.app_id }}" class="button">Install</a>
        {% endif %}
        <h4>Find similar apps</h4>
        {% if page.taxonomies.services %}
        <p>
          <strong>By Service:</strong>
            {% for service in page.taxonomies.services %}
                <a href="{{ get_taxonomy_url(kind="services", name=service) }}">{{ service }}</a>
            {% endfor %}
        </p>
        {% endif %}
        {% if page.taxonomies.categories %}
          <p>
            <strong>By Category:</strong>
              {% for category in page.taxonomies.categories %}
                <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a>
              {% endfor %}
          </p>
        {% endif %}
        {% if page.taxonomies.freedesktop_categories %}
          <p>
            <strong>By FreeDesktop-(Additional-)Category:</strong>
              {% for freedesktop_category in page.taxonomies.freedesktop_categories %}
              <a href="{{ get_taxonomy_url(kind="freedesktop_categories", name=freedesktop_category) }}">{{ freedesktop_category }}</a>
              {% endfor %}
              </p>
        {% endif %}
        <h4>Licensing and technical details</h4>
        <p class="app-licenses">
          <strong>License:</strong>
            {% if page.taxonomies.project_licenses %}{% for project_license in page.taxonomies.project_licenses %}
              <a href="{{ get_taxonomy_url(kind="project_licenses", name=project_license) }}" title="Show other apps using the same Project License">{{ project_license }}</a>
          {% endfor %}{% endif %}
          {% if page.taxonomies.metadata_licenses %}{% for metadata_license in page.taxonomies.metadata_licenses %} Metadata:
            <a href="{{ get_taxonomy_url(kind="metadata_licenses", name=metadata_license) }}" title="Show other apps using the same Metadata License">{{ metadata_license }}</a>
        {% endfor %}{% endif %}

        </p>
        {% if page.taxonomies.frameworks %}
          <p>
            <strong>Frameworks:</strong> 
              {% for framework in page.taxonomies.frameworks %}
                  <a href="{{ get_taxonomy_url(kind="frameworks", name=framework) }}">{{ framework }}</a>
              {% endfor %}
          </p>
        {% endif %}
        {% if page.taxonomies.backends %}
          <p>
            <strong>Backend:</strong>
              {% for backend in page.taxonomies.backends %}
                  <a href="{{ get_taxonomy_url(kind="backends", name=backend) }}">{{ backend }}</a>
              {% endfor %}
          </p>
        {% endif %}
        {% if page.taxonomies.programming_languages %}
        <p>
          <strong>Programming languages:</strong> 
            {% for programming_language in page.taxonomies.programming_languages %}
              <a href="{{ get_taxonomy_url(kind="programming_languages", name=programming_language) }}">{{ programming_language }}</a>
            {% endfor %}
        </p>
      {% endif %}
       {% if page.taxonomies.build_systems %}
          <p>
            <strong>Build system:</strong>
              {% for build_system in page.taxonomies.build_systems %}
                <a href="{{ get_taxonomy_url(kind="build_systems", name=build_system) }}">{{ build_system }}</a>
              {% endfor %}
          </p>
        {% endif %}
        {% if page.extra.appstream_xml_url %}
          <p>
            <strong>AppStream Metadata URL:</strong>
                <a href="{{ page.extra.appstream_xml_url }}">{{ page.extra.appstream_xml_url }}</a>
          </p>
        {% endif %}
        
      </main>
      <footer>
        {% if config.extra.edit_app %}
          {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
        {% endif %}
        <p><small>This listing was added on {{ page.date }}{% if page.extra.author %} by {{ page.extra.author }}{% endif %}{% if page.updated %} and last edited on {{ page.updated }}{% endif %}{% if page.extra.updated_by %} by {{ page.extra.updated_by }}{% endif %}.</small></p>
        <p><small>Something wrong? <a href="mailto:~linuxphoneapps/errors@lists.sr.ht?subject={{ page.title | urlencode_strict }}&body=Error%20in%20{{ page.slug }}%0A%0APlease%20describe%20what's%20wrong!">Please point it out via email to help us fix the issue!</a></small></p>
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
